// Colors
$color-primary:#086FA1;
$color-accent: #DF0101;
$color-primary-light: #9ed3ed;
$color-primary-dark:#235D79;
$black: #000000;
$white: #ffffff;
$gray: #969696;

// Fonts
$font-family: "Open Sans";
$special-font: "Source Code Pro";
$text-s: 14px;
$text-m: 18px;
$text-l: 25px;
$text-xl: 40px;
