<div>
  <h1 class = "title color-primary-dark">HAXBALL</h1>
  <div class = "description">
    <span>Aliquip ipsum laboris culpa dolor laboris proident anim cupidatat dolor proident pariatur eiusmod officia amet. Duis nulla consequat in labore minim minim aliqua. Ex cupidatat commodo dolore dolore reprehenderit adipisicing. Ea elit adipisicing magna culpa laboris fugiat laboris. Nisi nulla ullamco incididunt exercitation nisi cupidatat cupidatat consequat dolor cillum est qui culpa laborum. Deserunt id deserunt deserunt culpa pariatur adipisicing. Ullamco esse est dolor labore.</span>
  </div>
  <div>
    <button class = "button">Comenzar</button>
  </div>
</div>
